# Configuration API MoonPatrol
API_BASE_URL="https://10.0.2.2:8000"
API_FORENSIC_ENDPOINT="/api/forensic"

# Album name
ALBUM_NAME="Moon Patrol Album"
# Configuration Elevation API [$lat, $lon]
ELEVATION_API_URL="https://api.open-elevation.com/api/v1/lookup?locations=%s,%s"
# ELEVATION_API_PATTERN="?locations=%s,%s"
# Configuration App
APP_NAME="Moon Patrol"
APP_VERSION="1.0.0"

#Camera
ZOOM_LEVEL=1.0

# Update location API 
UPDATE_ELEVATION_API_DURATION=60
# Update battery check
UPDATE_BATTERY_DURATION=300
